#myDiv {
    background-color: lightblue;
    height: 3cm;
    text-align: center;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1cm;
    border-color: black;
    border-width: 3pt;
    border-style: solid;

}
body{
    background-color: lightgray;
}
button{
    border: solid 1pt black ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
}
.sliderDiv{
    margin:0.7cm;
    width: 70%;
    display: inline-block;
   
}
p{
    display: inline;
    margin-right: 10pt;
    margin-left: 10pt;
    font-size: 15pt;
    
    
    
}
.slider {
    -webkit-appearance: none;  
    width: 40%; 
    height: 25px; 
    background: skyblue; 
    outline: none; 
    border-radius: 10cm;
    border-style: solid;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    
    
  }
  
 
  .slider:hover {
    opacity: 1; 
  }
  

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    border-radius: 10cm;
    background: #0602f8; 
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #0602f8; 
    cursor: pointer; 
  }

  .informationDiv {
    margin-top: 1cm;
   
  }
  .informationP { 
    font-size: 20pt;
    font-weight: 500;
    display: block;
  }
